# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Local SQLite database
backend/instance/*.db
backend/instance/*.sqlite
backend/instance/*.sqlite3

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store

# Visual Studio / project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?